# Enable Bzlmod for every Bazel command
common --enable_bzlmod

# Basic build settings
build --jobs 8
build --define='absl=1'  # for gtest
build --define MEDIAPIPE_DISABLE_GPU=1
build --enable_platform_specific_config

# Enable stack traces
test --test_env="GTEST_INSTALL_FAILURE_SIGNAL_HANDLER=1"

# Linux
build:linux --cxxopt=-std=c++20
build:linux --host_cxxopt=-std=c++20
build:linux --copt=-w
# https://github.com/bazelbuild/bazel/issues/20886
build:linux --noincompatible_sandbox_hermetic_tmp

# windows
build:windows --cxxopt=/std:c++20
build:windows --host_cxxopt=/std:c++20
build:windows --copt=/w
# For using M_* math constants on Windows with MSVC.
build:windows --copt=/D_USE_MATH_DEFINES
build:windows --host_copt=/D_USE_MATH_DEFINES

# macOS
build:macos --cxxopt=-std=c++20
build:macos --host_cxxopt=-std=c++20
build:macos --copt=-w

# https://github.com/bazelbuild/rules_foreign_cc/issues/1186
build:macos --host_action_env=CXXFLAGS=-Wno-int-conversion
build:macos --action_env=CXXFLAGS=-Wno-int-conversion
build:macos --host_action_env=CFLAGS=-Wno-int-conversion
build:macos --action_env=CFLAGS=-Wno-int-conversion
